/* Estilização principal */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Cabeçalho */
header {
    background-color: purple;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    text-align: left;
}

header nav {
    text-align: right;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Container de produtos */
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#produtos h2{
    text-align: center;
}

.produto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

/* Estilização da descrição do produto */
.descricao-produto {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.produto img {
    max-width: 100%;
    border-radius: 5px;
}

.produto h3 {
    color: purple;
    margin-bottom: 10px;
}

.produto p {
    font-size: 14px;
    color: #555;
}

.produto button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #5a005a;
}

/* Estilo para o cesto */
/* Cesto */
#cesto {
    padding: 20px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

#cesto h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

#itens-cesto {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    justify-items: center;
    gap: 15px;
    margin-top: 20px;
}

#itens-cesto li {
    background: white;
    color: black;
    width: 90%;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

#itens-cesto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#itens-cesto h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

#itens-cesto .preco {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
}

#itens-cesto .remover {
    background: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

#itens-cesto .remover:hover {
    background: #d32f2f;
}

#total-cesto {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}