body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.divisao{
    margin: 30px;
    padding: 20px;
    background-color: #9b9999;
    border-radius: 8px;
}

.divisao h3{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao ul{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao ol{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao h2{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao p{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao iframe{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

.divisao table{
    margin: 30px;
    padding: 20px;
    background-color: #bdbcbc;
    border-radius: 8px;
}

header{
    background-color: #0ab9c5;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #ac4848;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0ab9c5;
    color: black;
    padding: 5px;
}

.imagemPrincipal img {
    width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

section img {
    width: 10%;
    height: auto;
    margin: 20px 0;
}

main{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#fotografias h3, #video h3, #poema h3 {
    color: #0ab9c5;
    font-size: 24px;
    border-bottom: 2px solid #0ab9c5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.poema {
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
    white-space: pre-line;
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}