/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #0ab9c5;
}

/* Estilos do Cabeçalho */
header {
    position: sticky;
    top: 0;
    background-color: #ac4848;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

nav a:last-child {
    background-color: #0ab9c5;
    padding: 30px;
}

nav a:hover {
    background-color: #0ab9c5;
    color: black;
    padding: 50px;
}

/* Estilo da Seção Poema */
#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #0ab9c5;
    flex-direction: column;
    text-align: center;
}

#poema p:first-child {
    font-style: italic;
}

#poema p{
    white-space: pre-line;
}

/* Estilo da Seção Paisagem */
#paisagem div {
    position: relative;
}

#paisagem img {
    width: 100vw;
}

#paisagem p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

/* Estilo da Seção Capitais */
#cidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0ab9c5;
}

#cidades section {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cidades img {
    width: 100px;
    border-radius: 20px 0 0 20px;
}

#cidades div {
    background-color: #ac4848;
    width: 100px;
    height: 100%;
    text-align: center;
    border-radius: 0 20px 20px 0;
    align-content: center;
}

#cidades section:hover div {
    background-color: #ddd;
}

/* Seção de Experimentação */
#experimenta .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
}

.hidden-hover {
    visibility: hidden;
}

.hidden-hover:hover {
    visibility: visible;
}