* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.divisao{
    margin: 30px;
    padding: 20px;
    background-color: #0ab9c5;
    border-radius: 8px;
}

.divisao h3{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
}

.divisao ul{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
    list-style-type: circle;
}

.divisao ul li:nth-child(2n){
    color: #0395ba;
}

.divisao ul li:nth-child(2n+1){
    color: #1504fd;
}

.divisao ol{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
    list-style-type: upper-roman;
}

.divisao h2{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
}

.divisao p{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
}

.divisao iframe{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
}

.divisao table tr:nth-child(odd) td:nth-child(odd){
    color: #ffffff;
    background-color: #0ab9c5;
}

.divisao table{
    margin: 30px;
    padding: 20px;
    background-color: #ac4848;
    border-radius: 8px;
}

.divisao li{
    margin: 30px;
    font-size: 2em;
}

.divisao p{
    line-height: 1.4;
    font-size: 16px;
}

header{
    background-color: #0ab9c5;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

nav {
    background-color: #ac4848;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0ab9c5;
    color: black;
    padding: 5px;
}

.imagemPrincipal img {
    width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

section img {
    width: 10%;
    height: auto;
    margin: 20px 0;
}

main{
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#fotografias h3, #video h3, #poema h3 {
    color: #0ab9c5;
    font-size: 24px;
    border-bottom: 2px solid #0ab9c5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.poema {
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
    white-space: pre-line;
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

a img {
    cursor: zoom-in;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none; /* Remove o sublinhado */
}

nav a:link {
    color: white;
}

nav a:visited {
    color: lightgray;
}

nav a:hover {
    color: black;
    background-color: #0ab9c5;
    padding: 5px;
}

nav a:active {
    color: red;
}

/* Pseudo-elementos before e after */
nav a::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: white;
    vertical-align: middle;
    transition: width 0.3s ease;
    margin-right: 5px;
}

nav a:hover::before {
    width: 10px;
}
